/* start of general styles */

html {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

body {
    margin: 0.5rem;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

h3 {
    font-size: 0.6rem;
    margin: 0.5rem 0 1rem;
}

p {
    font-size: 0.7rem;
}

/* start of button styles */

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #423f36;
    border: 2px solid #3cc98c;
}

.button1:hover {
    background-color: #3cc98c;
    color: white;
}

.button2 {
    background-color: white;
    color: #423f36;
    border: 2px solid #41c0d3;
}

.button2:hover {
    background-color: #41c0d3;
    color: white;
}

.button3 {
    background-color: white;
    color: #423f36;
    border: 2px solid #d3c741;
}

.button3:hover {
    background-color: #d3c741;
    color: white;
}

/* start of link styles */

a, a:link, a:visited {
    color: #d34d41;
    display: block;
    text-decoration: none;
    padding: 0.2rem;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #999;
}

/* start of header styles */

header h1 {
    margin: 3rem 0 1rem;
    text-align: center;
}

/* start of main styles */

main {
    margin: 0 auto; /* centres block level */
    padding: 1rem;
    text-align: center;
    width: 60%;
}

main article {
    border: 2px solid #000;
    margin: 1rem auto;
}

input {
    color: #000;
    border: none;
    border-bottom: 2px solid #41c0d3;
    border-radius: 5px;
}
/* start of footer styles */

footer h3 {
    text-align: center;
}

/* styles for the tag cloud */

#tagCloud { 
    width: 100%; 
    background-color: #575454; 
    text-align: center; 
    padding: 5px;
    overflow: auto; 
    font-size: 0.6rem;
}

#tagList { 
    margin:0; 
    padding:0; 
}

#tagList li {
    list-style-type: none; 
    float: left; 
    margin: 0 10px; 
    height: 35px;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    /* change width to 90% when using smaller screens */
    main {
        width: 90%;
    }
}